<div>
    <h2>Edit a Post</h2>
        <form class="form new-edit-form">
      <div class="form-group">
        <label for="post-name">Post name:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-input" id="post-content" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="editBtn" data-id="{{id}}">Edit</button>
      </div>
    </form>
</div>
<script src="./js/editPost.js"></script>