<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <base href="/" />
</head>

<body>
    <header>
        <div id="headerDiv"><h1><a href="/" id="titleLink">The Wonderful World of Tech</a></h1>
        <div id="navbar">
       {{#if logged_in}}
        <a href="/create"><button id="create">Create a New Post</button></a>
        <button id="logout">Log Out</button>
        {{else}}
        <a href="/login"><button id="login">Log In</button></a>
        {{/if}}
    </div>
        
        </div>
    </header>




<main>

<div id="main">

    {{{ body }}}

</div>

</main>

{{#if logged_in}}
<script src="js/logout.js"></script>
{{/if}}

</body>
</html>